:root {
	--sizeOfChart: 70%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#singUp::before {
	content: attr(data-sing-up);
}

body {
	width: 100%;
	font-size: 2em;
}

.logo {
	width: 100%;
	text-align: center;
	line-height: 100px;
	display: flex;
	justify-content: center;
	align-items: baseline;
	flex-wrap: wrap;
}
.logo button {
	margin-left: 40%;
	height: 50px;
	width: 250px;
	padding: 0 10px;
	border: 1px solid #000;
	border-radius: 5px;
}
.login {
	width: 100%;
	padding: 12px 24px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.login input, button {
	width: 80%;
	padding: 12px 24px;
	margin: 12px 0;
	border: 1px solid #000;
	border-radius: 5px;
	text-align: center;
}
.add_bills {
	width: 100%;
	padding: 12px 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input {
	width: 100%;
	padding: 0 10px;
	border: 1px solid #000;
	border-radius: 5px;
}
.bills {
	width: 100%;
	padding: 12px 24px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: last baseline;
}
.bill {
	width: 30%;
	margin-bottom: 10px;
	list-style: none;
	padding: 12px 24px;
	transition: all 0.3 case-in-out;
	text-align: center;
}
.bill:hover {
	box-shadow: rgba(50, 50, 92, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.category {
	font-size: 1em;
	font-weight: 800;
}
.data {
	font-size: 0.75em;
}
.div_chart {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.chart {
	width: var(--sizeOfChart) !important;
	height: var(--sizeOfChart) !important;
	margin-right: auto;
	margin-left: auto;
}
