*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#singUp::before{
    content: attr(data-sing-up);
}
[data-sing-up]::before{
    content: attr(data-sing-up);
    background-color: pink;
}