:root {
	--sizeOfChart: 70%;
	--yellow: #f2ca50;
	--lightbrow: #8c752e;
	--brow: #594a1d;
	--white: #f2f2f2;
	--lightbrow_button: rgba(140, 117, 46, 0.25);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#singUp::before {
	content: attr(data-sing-up);
}

body {
	width: 100%;
	font-size: 2em;
	background-color: var(--yellow);
	color: var(--brow);
}

.logo {
	width: 100%;
	text-align: center;
	line-height: 100px;
	display: flex;
	justify-content: center;
	align-items: baseline;
	flex-wrap: wrap;
}
.logo button {
	margin-left: 40%;
	height: 50px;
	width: 250px;
	padding: 0 10px;
	border: 1px solid var(--lightbrow);
	background-color: var(--lightbrow_button);
	border-radius: 5px;
	transform: 0.3;
}
.logo button:hover {
	box-shadow: rgba(140, 117, 46, 0.25) 0px 54px 55px, rgba(140, 117, 46, 0.12) 0px -12px 30px,
		rgba(140, 117, 46, 0.12) 0px 4px 6px, rgba(140, 117, 46, 0.17) 0px 12px 13px, rgba(140, 117, 46, 0.09) 0px -3px 5px;
}
.login {
	width: 100%;
	padding: 12px 24px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.login input,
button {
	width: 80%;
	padding: 12px 24px;
	margin: 12px 0;
	border: 1px solid #000;
	border-radius: 5px;
	text-align: center;
}
.add_bills {
	width: 100%;
	padding: 12px 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form_add_bills {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	justify-content: center;
	align-items: center;
}
.input {
	width: 80%;
	font-size: 1.5rem;
	margin: 1em;
	padding: 0.5em;
	border: none;
	border-bottom: 2px solid black;
	text-align: center;
}
.label{
	width: 80%;
	text-align: center;
}
input:focus {

	border-bottom: 2px solid black;
}
.button {
	width: 80%;
	font-size: 1.5rem;
	margin: 1em;
	padding: 0.5em;
	background: transparent;
	border: solid 1px black;
}
.bills {
	width: 100%;
	padding: 12px 24px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: baseline;
}
.bill {
	width: 30%;
	margin-bottom: 10px;
	list-style: none;
	padding: 12px 24px;
	transition: all 0.3 case-in-out;
	text-align: center;
}
.bill:hover {
	box-shadow: rgba(50, 50, 92, 0.25) 0px 13px 27px -5px, rgba(140, 117, 46, 0.3) 0px 8px 16px -8px;
}
.category {
	font-size: 1em;
	font-weight: 800;
}
.data {
	font-size: 0.75em;
}
.div_chart {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.chart {
	width: var(--sizeOfChart) !important;
	height: var(--sizeOfChart) !important;
	margin-right: auto;
	margin-left: auto;
}

@media only screen and (max-width: 1300px) {
	.logo button {
		margin-left: 50px;
	}
}
input{
	background-color: var(--lightbrow_button);
	color: #000;
}